* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* h1 section  */
header {
    display: block;
    background-color: rgb(152, 132, 106);
    color: maroon;
    text-align: center;
    justify-content: center;
    padding: 40px;
    border: 30px solid rgb(48, 27, 1);
}

/* Navigation Links */
nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: rgb(99, 19, 16);
}

/* About me */
.About {
    display: inline-block;
    color: maroon;
    background-color: bisque;
    text-align: center;
    border: 30px solid rgb(48, 27, 1);
    width: 100%;
    height: 600px;
    margin-bottom: auto;

}

/* About me Avatar */
.About img {
    max-width: 600px;
    height: 300px;

}

/* My work section - Background and Borders only */
.Work {
    margin: 0;
    background-color: bisque;
    border: 30px solid rgb(48, 27, 1);
}

/* My work section; images only */
.Work img {
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    left: 400px;
    border-style: solid;
    border-width: 20px;
    align-items: center;
    border-color: #13373d;
    background: #ae8349
}

/* My work section: Prework Study Guide Img */
.large p {
    transform: rotate(10deg);

}

/* My work section: Portfolio img */
.medium p {
    display: block;
    transform: rotate(8deg);
    padding: 10px 10px;
}

/* All h2 sections */
h2 {
    display: block;
    padding: 20px;
    background: #13373d;
    color: rgb(255, 222, 222);
    text-align: center;
    width: 100%;

}

/* All h3 sections */
h3 {
    display: block;
    padding: 30px;
    background: #ae8349;
    color: rgb(255, 222, 222);
    text-align: center;


}

/* Footer / Contact me section */
.Contact {
    flex-wrap: wrap;
    color: maroon;
    background-color: bisque;
    text-align: center;
    border: 10px solid rgb(48, 27, 1);
    width: 100%;
    height: 200px;
}