

.Top-header {
    display: flex;
    flex-direction: row ;
    line-height: 1;
background-color: bisque;
color: maroon;
font-size: 20px;
justify-content: space-between;
padding: 2%;
}

nav ul { display: flex;
justify-content: space-between;
min-width: 300px; 

}

section.Aboutme {
    color:maroon;
    background-color: bisque;
}

section.Mywork {
    color: black;
    background-color: blue;
}

section.Contactme {
    color: blueviolet;
    background-color: black;
}